{% extends "backend/backendbase.html" %}
{% block page-main %}
    <div class="modal fade" id="edit_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">编辑用户简介</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label">分类名</label>
                        <textarea class="form-control" rows="4" name="profile"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" name="edit_submit">保存</button>
                </div>
            </div>
        </div>
    </div>

    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-8 col-sm-8 col-md-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            功能列表
                        </div>
                        <div class="panel-body">
                            <ul class="nav nav-tabs">
                                <li class="active" id="tab_home"><a href="#home" data-toggle="tab">个人中心</a>
                                </li>
                                <li class="" id="tab_add"><a href="#editpwd" data-toggle="tab">修改密码</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane fade active in" id="home">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="media">
                                                <div class="media-left">
                                                    <a href="/blog/{{ request.user.username }}/">
                                                        <img class="media-object img-circle"
                                                             style="height: 80px;width: 80px"
                                                             src="/media/{{ request.user.avatar }}" alt="...">
                                                    </a>
                                                    <h4 class="center-block text-center"
                                                        class="media-heading">{{ request.user.username }}</h4>
                                                </div>
                                                <div class="media-body">
                                                    <h3>博客名：{{ request.user.blog.title }}</h3>
                                                    <hr>
                                                    <div id="profile">
                                                        {% if request.user.profile == None %}
                                                            用户暂无简介
                                                        {% else %}
                                                            {{ request.user.profile }}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="media-footer">
                                                    <button class="btn btn-default pull-right" data-toggle="modal"
                                                            data-target="#edit_modal" id="edit_profile">修改简介
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="editpwd">
                                    <p>
                                        {% csrf_token %}
                                    <div class="form-group">
                                        <label class="control-label">旧的密码</label>
                                        <input type="password" class="form-control" id="oldpwd">
                                        <span class="help-block"></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">新的密码</label>
                                        <input type="password" class="form-control" id="newpwd">
                                        <span class="help-block"></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">再次输入</label>
                                        <input type="password" class="form-control" id="newpwd_1">
                                        <span class="help-block"></span>
                                    </div>
                                    <div>
                                        <button id="pwd_submit" class="btn btn-default">提交</button>
                                    </div>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <script>
        {#修改用户个人简介#}
        $("#edit_profile").click(function () {
            var old_profile = $("div[id='profile']").text().trim();
            $("textarea").text(old_profile);
        })

        $("button[name='edit_submit']").click(function () {
            var new_profile = $("textarea").val();
            console.log(new_profile);
            $.ajax({
                url: "/blog/backend/userManager/edit_profile/",
                type: "POST",
                data: {
                    "new_profile": new_profile,
                    "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val()
                },
                success: function (data) {
                    if (!data.status) {
                        swal({
                            title: "",
                            text: data.msg,
                            type: "success",
                            showConfirmButton: false,
                            timer: 1000
                        })
                        $("div[id='profile']").text(new_profile);
                        $("#edit_modal").modal("hide");
                    } else {
                        swal({
                            title: "",
                            text: data.msg,
                            type: "error",
                            showConfirmButton: true
                        })
                    }
                }
            })

        })

        {#修改密码点击事件#}
        $("#pwd_submit").click(function () {
            var oldpwd = $("#oldpwd").val();
            var newpwd = $("#newpwd").val();
            var newpwd_1 = $("#newpwd_1").val();
            if (oldpwd.length < 6) {
                $("#oldpwd").next().text("密码不得少于6位");
                $("#oldpwd").parent().addClass("has-error");
                return false;
            }
            if (newpwd.length < 6) {
                $("#newpwd").next().text("密码不得少于6位");
                $("#newpwd").parent().addClass("has-error");
                return false;
            }
            if (oldpwd.length < 6) {
                $("#newpwd_1").next().text("密码不得少于6位");
                $("#newpwd_1").parent().addClass("has-error");
                return false;
            }
            if (newpwd != newpwd_1) {
                $("#newpwd_1").next().text("两次输入的密码不一致");
                $("#newpwd_1").parent().addClass("has-error");
                return false;
            }
            $.ajax({
                url: "/blog/backend/userManager/edit_pwd/",
                type: "POST",
                data: {
                    "old_pwd": oldpwd,
                    "new_pwd": newpwd,
                    "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val()
                },
                success: function (data) {
                    if (!data.status) {
                        swal({
                                title: "",
                                text: data.msg + "即将重新登录",
                                type: "success",
                                showConfirmButton: false,
                                timer: 3000
                            },
                            function () {
                                location.href = "/login/"
                            }
                        )
                    } else {
                        swal({
                            title: "",
                            text: data.msg,
                            type: "error",
                            showConfirmButton: true
                        })
                    }
                }


            })

        })

    </script>
{% endblock %}
