{% extends 'base.html' %}

{% block page-main %}
    <div class="article-list">
        {% if article_list.count == 0 %}
            <div class="alert alert-info">
                <strong>该分类下暂无文章</strong>
            </div>
        {% endif %}
        {% for article in article_list %}
            <div class="media">
                <h3 class="media-heading"><a
                        href="/blog/{{ article.user.username }}/article/{{ article.pk }}/">{{ article.title }}</a></h3>
                <div class="media-left">
                    <a href="/blog/{{ article.user.username }}">
                        <img class="media-object author-img" src="/media/{{ article.user.avatar }}" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <p>{{ article.desc }}</p>
                </div>
                <div class="article-footer">
                    <span><a>{{ article.user.username }}</a></span>发布于
                    <span>{{ article.create_time|date:"Y-m-d h:i:s" }}</span>
                    <span class="glyphicon glyphicon-comment">评论({{ article.comment_count }})</span>
                    <span class="glyphicon glyphicon-thumbs-up">点赞({{ article.up_count }})</span>
                </div>
                <hr>
            </div>
        {% endfor %}
    </div>
{% endblock %}