<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试短信接口</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"><!--移动端适配-->
    <link href="https://cdn.bootcss.com/normalize/8.0.1/normalize.min.css" rel="stylesheet"><!--统一浏览器格式-->
    <link href="/static/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
    .row {
        margin-top: 100px;
    }
</style>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-8">
                        <input class="form-control" placeholder="请输入手机号">
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-primary">发送验证码</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-8">
                        <input class="form-control" placeholder="填写验证码">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/jquery-3.4.1.min.js"></script>
<script src="/static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
</body>

</html>